.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
body{
    font-family: 'NeueMontreal', 'Noto Sans KR', 'Malgun Gothic', 'sans-serif';
}
.dot{
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    left: 0;
    top: 47%;
    bottom: auto;
    width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
    height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
    transform: translate(0, 0) scale(1);
}