.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
body{
    font-family: 'Metropolis','NeueMontreal', 'Noto Sans KR', 'Malgun Gothic', 'sans-serif';
    
    -ms-overflow-style: none;
    scrollbar-width: none; 
    color: #1C1D20;
}
body::-webkit-scrollbar {
    display: none;
}
.sc-work .work-desc, .txt-box{
    font-family: 'Pretendard-Regular';
}

body.active{overflow: hidden;}


.inner{padding: 20.4px;}
.inner1{padding: 0 6vw;}

.inner2{padding: 0 109px;}

.btn{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .btn-txt{
    padding: 0 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: relative;
    z-index: 9;
}
.btn-fill{
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    background-color: #455CE9;

    top: -50%;
    left: -25%;
    transform: scale(1,0);
    transition: transform ease-in-out 0.5s;
    transform-origin: top;
    
}
.btn:hover .btn-fill {
    transform: scale(1,1);
    transform-origin: bottom;
}
.btn:hover .btn-txt{
    z-index: 99;
    position: relative;
}





.title{
    margin-bottom: 1.5em;
    line-height: 1.065;
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: .5;
    font-size: 10px;
}


.pan-box{
    position: absolute;
    left: 1px;
    transform: translateX(-100%);
    height: 100%;
    top: 0;
    width: 6vw;

}
.pan-box .pan{
    height: 150%;
    position: absolute;
    width: 775%;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: #1C1D20;
    transform: translate(-6.5%, -50%);
}


.cursor{
    position: fixed;
    z-index: 100;
    pointer-events: none;
    text-align: center;
}

.cursor .view{
    opacity: 0;
    width: 75px;
    height: 75px;
    color: #fff;
    text-align: center;
    line-height: 75px;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    border: 0;
    background: #455CE9;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: block;
    transition: width .4s cubic-bezier(0.36, 0, 0.66, 0), height .4s cubic-bezier(0.36, 0, 0.66, 0);
}



.dot{
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    left: 0;
    top: 47%;
    bottom: auto;
    width: 9.9px;
    height: 9.9px;
    transform: translate(0, 0) scale(1);
}