@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: 'NeueMontreal';
    font-weight: 400;
    src: url(../font/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url(../font/Metropolis-Bold-6bb4133f720f221fea1b1d1ba89598a6.woff2) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Metropolis';
    src: url(../font/Metropolis-Black-2ee7c657b1ad2a46fd8f14e93233c7f8.woff2) format('woff');
    font-weight: 600;
}
