.sc-intro{
    background: #999D9E;

    /* height: 100vh; */
    min-height: 121vh;
    position: relative;
    overflow: hidden;
}
.sc-intro .intro-wrap{
    position: relative;
    height: 100vh;
    z-index: 9;
}
.sc-intro .bookmark{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 99;

    /* padding-bottom: 15vh; */
}
.sc-intro .bookmark .bookmark-txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-right: 5em;
    padding-left: clamp(1.5em, 4vw, 2.5em);
    line-height: 1.2;
    color: #fff;

    /* padding-bottom: 15vh; */
}
.sc-intro .bookmark .bookmark-txt span{display: block;}
.sc-intro .bookmark svg{
    width: auto;
    height: 6em;
}

.sc-intro .globe-area{
    z-index: 500;
    position: absolute;
    right: 0.9em;
    left: auto;
    top: 0.9em;
    width: 4.2em;
    height: 4.2em;
    transform: translate(0%, 0%);
    background: transparent;
}
.sc-intro .globe-area .globe-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 3em;
    height: 3em; */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    will-change: transform;
    width: 2.5em;
    height: 2.5em;
    font-size: .8em;

    animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
    box-shadow: inset 0px 0px 0px 0.125em #fff;
}
.sc-intro .globe-area .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em #fff;
    animation: circle 2.7s linear infinite;
    font-size: .75em;
}
.sc-intro .globe-area .circle:nth-child(1){    animation-delay: -1.8s;}
.sc-intro .globe-area .circle:nth-child(2){    animation-delay: -.9s;}
.sc-intro .globe-area .circle-hor{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px 0.15em #fff;
    font-size: .75em;
}
.sc-intro .globe-area .circle-hor-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: 0.15em;
    background: #fff;
    font-size: .75em;
}

@keyframes globe {
    0% {
        transform: translate(-50%, -50%) rotate(15deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-15deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(15deg);
    }
}

@keyframes circle {
    0% {
        border-radius: 50%;
        box-shadow: inset 0.1em 0px 0px 0.08em #fff;
        width: 100%;
    }
    49% {
        border-radius: 50%;
        box-shadow: inset 0.1em 0px 0px 0.08em #fff;
        background: transparent;
    }
    50% {
        border-radius: 0%;
        width: 0.175em;
        background: #fff;
    }
    51% {
        border-radius: 50%;
        box-shadow: inset -0.1em 0px 0px 0.08em #fff;
        background: transparent;
    }
    100% {
        border-radius: 50%;
        box-shadow: inset -0.1em 0px 0px 0.08em #fff;
        width: 100%;
    }
}



.sc-intro .intro-img{
    top: 9%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    /* min-height: 115vh; */
    z-index: 99;
}
.sc-intro .intro-img img{
    /* top: 9%; */
    display: block;
    margin: 0 auto;
    width: auto;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}


/* 사진 */
.sc-intro .info-area{
    position: absolute;
    font-size: clamp(1.55em, 2.3vw, 2.5em);
    color: #fff;
    /* transform: translate(0, -50%); */
    transform: translateY(-50%);
    /* top: 50%; */
    top: calc(50% + 3px);
    right: 5%;
    line-height: 1.4;
    padding-right: clamp(2.5em, 13vw, 8em);
    /* padding-bottom: 15vh; */
}
.sc-intro .info-area .arrow-box{
    width: 18px;
    height: 18px;
    width: clamp(0.7em, 1.3vw, 1.25em);
    display: inline-block;
    /* top: -12.5vh; */
    position: absolute;
    top: -10.5vh;

    /* 흰색
    left: -22px;
    top: -43%; */
}
.sc-intro .info-area .arrow-box svg{
    width: 100%;
    height: 100%;
    display: block;
}
.sc-intro .info-area .arrow-txt{
    /* font-size: 1.6rem; */
    /* font-size: 1.9vw; */
    font-weight: 400;
    font-family: 'Metropolis';
    box-sizing: border-box;
}
.sc-intro .info-area span{display: block;}

.sc-intro .animate-box{
    display: flex;
    position: absolute;
    bottom: 3vh;
}
.sc-intro .animate-name{
    font-size: max(9em, 15vw);
    width: 100%;
    color: #fff;
    line-height: 1;
    white-space: nowrap;

    animation: rolling 45s linear infinite;
    font-family: 'Metropolis';
    /* font-weight: bold; */
    color: #fff;
    opacity: 0.7;
}
.sc-intro .animate-name span{display: inline-block;}

.sc-intro .animate-name.rolling{
    animation-direction: reverse;
}

@keyframes rolling {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}




/* sc-work */
.sc-work{background: #fff;}
.sc-work .inner1{
    padding-left: 218px;
    padding-right: 218px;
    /* height: 90vh; */
}
.sc-work .work-desc{
    padding: 131px 0 212px;
    display: flex;
}
.sc-work .work-desc p{}
.sc-work .work-desc .work-txt{
    /* font-size: clamp(1.55em, 2.3vw, 2.5em); */
    font-size: clamp(1.55em, 2vw, 2.5em);
    line-height: 1.45;
    width: 70%;
    padding-right: 41px;

    word-break: keep-all;
    letter-spacing: -0.5px;
}
.sc-work .work-desc .work-box{
    overflow: hidden;
    
    
}
/* .sc-work .work-desc .work-box b{transform: translateY(50%);opacity: 0;} */
.sc-work .work-desc .btn-box{
    padding-left: 41px;
    width: 30%;

    position: relative;
}
.sc-work .work-desc .btn-box p{
    margin-bottom: 6em;
    padding-top: 0.5em;
    max-width: 14em;
    line-height: 1.66;
    word-break: keep-all;
}
.sc-work .btn-work{
    position: absolute;
    top: 80%;
    display: block;
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    /* width: 163px;
    height: 163px; */
    border-radius: 50%;
    background: #1C1D20;
    border: 0;
    color: #fff;
    text-align: center;

    overflow: hidden;
}
.sc-work .work-desc .btn .btn-fill{
    top: -50%;
    left: -25%;
    display: block;
    /* transform: translateY(-76%); */
    transform: scale(1,0);
    transition: transform ease-in-out 0.5s;
    transform-origin: top;
}
/* 제이쿼리 */
.sc-work .work-desc .btn:hover .btn-fill{
    transform: scale(1,1);
    transform-origin: bottom;
}

/* transform: scaleX(0);
transition: transform 1s;
transform-origin: right; */

.sc-work .work-desc .btn .btn-txt{
    padding: 0 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 99;
    position: relative;
    font-size: 4.2vh;
}


.sc-work .work-area{padding: 0 109px;}
.sc-work .work-area .title{
    padding-bottom: 41px;
    font-size: .6em;
    line-height: 1.065;
    padding-left: 6vw;
    /* margin-bottom: 1em; */
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: .5;
}
.sc-work .work-area .work-list{}
.sc-work .work-area .work-item.show{display: none;}
.sc-work .btn-more.show{display: none;}
/* .sc-work .work-area .work-item.a.show {display: block;} */
.sc-work .work-area .work-item::before{
    content: '';
    top: 0;
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(28, 29, 32, 0.175);
}
.sc-work .work-area .work-item:last-child:after{
    content: '';
    top: 0;
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(28, 29, 32, 0.175);
}
.sc-work .work-area .work-item>a{
    display: block;
    position: relative;
}

/* 호버이미지 */
.sc-work .view-wrap{
    position: fixed;
    top: 0;left: 0;
    z-index: 99;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: width .4s cubic-bezier(0.36, 0, 0.66, 0);
}
.sc-work .view-wrap .view-box{
    width: 345px;
    height: 345px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 제이쿼리 */
/* .sc-work .work-area .work-item:hover .view-box{
    width: 100%;
    width: 375px;
} */
.sc-work .view{
    width: 75px;
    height: 75px;
    color: #fff;
    text-align: center;
    line-height: 75px;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    border: 0;
    background: #455CE9;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: block;
    transition: width .4s cubic-bezier(0.36, 0, 0.66, 0), height .4s cubic-bezier(0.36, 0, 0.66, 0);
}

.sc-work .work-area .work-wrap{
    display: flex;
    padding: 37.5px 0 43.7px;
    align-items: center;
    justify-content: space-between;

    transition: all .3s cubic-bezier(.7, 0, .3, 1);
}
.sc-work .work-area .work-wrap .work-img{display: none;}
.sc-work .work-area .work-wrap h3{
    padding: 0 6vw;
    font-size: calc(clamp(3.25em, 5.6vw, 8em) * .75);
    width: 70%;
    /* padding-left: 109px; */
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
}
.sc-work .work-area .work-wrap .txt-box{
    width: 30%;
    padding-left: 16px;
    padding-right: 54.6px;
    padding-top: 1em;
    text-align: center;
}
.sc-work .work-area .work-wrap span{
    display: block;
    line-height: 1.66;
    box-sizing: border-box;
    color: #1C1D20;
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
    text-align: center;
    padding: 0 20%;
    word-break: keep-all;
}
.sc-work .work-area .work-wrap span:last-child{font-size: 14px;}
.sc-work .work-area .work-item:hover h3{
    opacity: .33;
    transform: translateX(-30px);
}
.sc-work .work-area .work-item:hover span{
    opacity: .33;
    transform: translateX(30px);
}

.sc-work .work-area .inner1{
    margin: 0 auto;
    text-align: center;
    padding-top: 65.6px;
}
.sc-work .btn-more{
    display: inline-block;
    box-shadow: inset 0px 0px 0px 1px rgba(28, 29, 32, 0.175);

    background: transparent;
    border-radius: 2.125em;
    min-width: 1em;
    height: 4.25em;
    overflow: hidden;
}
.sc-work .btn-more:hover .btn-fill {
    /* transform: translateY(0); */
}
.sc-work .btn-more:hover .btn-txt{
    color: #fff;
    z-index: 99;
    position: relative;
}
.sc-work .btn-more .btn-txt{
    padding: 0 2.5em;
    color: rgb(28, 29, 32);
    transition: all ease-in-out 0.1s;
}
.sc-work .btn-more i{
    display: inline-block;
    margin-left: 0.25em;
    opacity: .6;
    font-size: .7em;
    /* position: absolute; */
    /* top: -5%; */
    transform: translate(20%, -15%);
    width: 0;
    position: relative;
}


.sc-output{
    /* padding: 98.4px 0 97px; */
    padding: 98.4px 0 0;
}
.sc-output .output-list{
    width: 120vw;
    left: -10vw;
    /* will-change: transform; */
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    background: #fff;
    z-index: 9;
}
.sc-output .output-list.list1{
    transform: translateX(5%);
}
.sc-output .output-list.list2{
    transform: translateX(-5%);
    z-index: 9;
    background: #fff;
}
.sc-output .output-list .output-item{
    width: 25%;
    /* padding-top: 75%; */
    padding: 1.25vw;
}
.sc-output .output-list .img-box{
    position: relative;
    padding-top: 71%;
}
.sc-output .output-list .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sc-output .output-list .video-wrap{
    position: relative;
    padding-top: 71%;
}
.sc-output .output-list .video-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18em;
    height: 11em;
    padding-top: 0;
}
.sc-output .output-list .video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sc-output .output-list.list1 .video-wrap:nth-child(1){background: #e1dad7;}
.sc-output .output-list.list1 .video-wrap.two{background: #c6d8a3;}
.sc-output .output-list.list2 .video-wrap:nth-child(1){background: #b5b5b5;}
.sc-output .output-list.list2 .video-wrap.two{background: #908d8f;}

/* 스크롤시 판 */
.sc-output .pan-box{
    width: 100%;
    top: auto;
    bottom: 0;
    position: relative;
    height: 10vh;
    /* overflow: hidden; */

    z-index: 3;
    transform: translateX(0);
}
.sc-output .pan-box .pan{
    width: 150%;
    position: absolute;
    background: #fff;
    height: 750%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    box-shadow: 0px 18px 32px 12px #1c1d20;
}
.sc-output .pan-box .pan-dark{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: calc(clamp(5em, 21vh, 12em) * .75);
    background: linear-gradient(to bottom,hsla(225, 7%, 12%) 0%, hsla(225, 7%, 12%, 0.987) 8.1%, hsla(225, 7%, 12%, 0.951) 15.5%, hsla(225, 7%, 12%, 0.896) 22.5%, hsla(225, 7%, 12%, 0.825) 29%, hsla(225, 7%, 12%, 0.741) 35.3%, hsla(225, 7%, 12%, 0.648) 41.2%, hsla(225, 7%, 12%, 0.55) 47.1%, hsla(225, 7%, 12%, 0.45) 52.9%, hsla(225, 7%, 12%, 0.352) 58.8%, hsla(225, 7%, 12%, 0.259) 64.7%, hsla(225, 7%, 12%, 0.175) 71%, hsla(225, 7%, 12%, 0.104) 77.5%, hsla(225, 7%, 12%, 0.049) 84.5%, hsla(225, 7%, 12%, 0.013) 91.9%, hsla(225, 7%, 12%, 0) 100%);
    opacity: .75;
}
/* .sc-output .pan-box.active{height: 0vh;} */


/* sc-oneself */
.sc-oneself{
    background: #1c1d20;
    /* background: #4256d2; */

    width: 100%;
    /* height: 100vh; */
    position: relative;
    /* overflow: hidden; */
    /* box-shadow: 0px 5px 0px 5px #1C1D20; */
}
.sc-oneself .inner1{
    padding: clamp(5em, 21vh, 12em) 218px 0;
}
.sc-oneself .profile-wrap{position: relative;}
.sc-oneself .profile-wrap::after{
    content: '';
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%;
    height: 1px;
}
.sc-oneself .profile-wrap .profile{
    margin-right: 0.125em;
    /* width: 71px;
    height: 71px; */
    height: 0.85em;
    width: 0.85em;
    display: inline-block;
    transform: translateY(0.09em);
    border-radius: 50%;
    
    background: url(../images/favicon/me.png) no-repeat center;
    background-size: cover;
}
.sc-oneself .profile-wrap .profile-box{position: relative;}
.sc-oneself .profile-wrap .profile-txt{
    /* font-size: 83.6px; */
    font-size: calc(clamp(3.25em, 7vw, 8em) * .875);
    color: #fff;
    padding-bottom: 9vh;
    display: block;
}
.sc-oneself .profile-wrap .profile-txt span:nth-child(3){
    display: block;
}
.sc-oneself .profile-wrap .arrow{
    position: absolute;
    right: 0;
    bottom: calc(clamp(1.5em, 4vw, 2.5em) * 1.5);
    display: inline-block;
}
.sc-oneself .profile-wrap .arrow svg{
    display: inline-block;
    transform: rotate(90deg);
}


.sc-oneself .profile-wrap .btn-work{
    position: absolute;
    display: block;
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    border-radius: 50%;
    background: #455CE9;
    border: 0;
    color: #fff;
    text-align: center;
    top: 66%;
    right: 11%;
    overflow: hidden;
}
.sc-oneself .profile-wrap .btn-work .btn-fill{
    background-color: #334BD3;
}

.sc-oneself .contact-area{padding-top: 9vh;}
.sc-oneself .contact-area .contact-desc{
    box-shadow: inset 0px 0px 0px 1px rgb(255 255 255 / 20%);
    position: relative;
    display: inline-block;
    background: transparent;
    border-radius: 2.125em;
    min-width: 1em;
    height: 4.25em;
    overflow: hidden;
    color: #fff;
}
.sc-oneself .contact-area .contact-desc .btn-txt{
    padding: 0 2.5em;
    position: relative;
    z-index: 9;
}

.sc-oneself .contact-area .btn-work{}
.sc-oneself .contact-area .btn-work .btn-fill{}





@media screen and (max-width: 1200px) {
    /* *1024을 기준으로 화면을 보고 잡아야함 */
    .inner1{
        padding-left: calc(6vw * 2);
        padding-right: calc(6vw * 2);
    }
    .sc-work .inner1{
        padding-left: calc(6vw * 2);
        padding-right: calc(6vw * 2);
    }
    .sc-work .work-area{padding: 0 6vw;}

    .sc-work .view-wrap .view-box{
        width: 300px;
        height: 300px;
    }
    .sc-oneself .contact-area{
        padding-top: 60px;
    }
    .sc-intro .info-area{padding-right: 1vw;}
    .sc-output .output-list{left: -3vw;}
    .sc-output .output-list.list2{left: -10vw;}
    .sc-output .output-list.list1 .output-item:first-child{display: none;}
    .sc-output .output-list.list2 .output-item:last-child{display: none;}
    .sc-output .output-list .output-item{width: 30%;}


}
@media screen and (max-width: 1023px) {
    /* *768을보고 잡아야함 */
    .sc-oneself .inner1{
        padding-left: calc(6vw * 2);
        padding-right: calc(6vw * 2);
    }


    .sc-output .output-list .output-item{
        width: 33.333%;
    }
    .sc-oneself .contact-area{padding-top: 96px;}

    .sc-work .work-area .work-list{
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .sc-work .work-area .work-item{
        width: calc(50% - 10px);
    }
    .sc-work .work-area .work-item::before{display: none;}
    .sc-work .work-area .work-wrap{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .sc-work .work-area .work-wrap span{
        width: 100%;
        padding-left: 0;
        padding-top: 0.75em;
        padding-right: 0;
        text-align: left;
    }
    .sc-work .work-area .work-item:nth-child(2n){margin-left: 20px;}
    .sc-work .work-area .work-wrap h3{
        padding: 0;
        width: 100%;
        padding-top: 31px;
        font-size: calc(clamp(1.75em, 2.3vw, 2.5em) * 1.125);
        /* padding-bottom: 16px; */
    }
    .sc-work .work-area .work-wrap .txt-box{
        padding-left: 0;
        text-align: left;
        /* width: 32%; */
        width: 100%;
        word-break: keep-all;
    }
    .sc-work .work-area .work-wrap .work-img{
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .sc-work .work-area .work-img img{ transition: all .5s cubic-bezier(.7, 0, .3, 1);}
    .sc-work .work-area .work-item:hover .work-img img{
        transform: scale(1.025);
    }
    .sc-work .work-area .work-wrap span::before{
        content: '';
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        display: block;
        background: rgba(28, 29, 32, 0.175);
    }
    .sc-work .work-area .work-item:last-child:after{display: none;}
    .sc-work .work-area .work-item:hover h3{transform: translateY(-5px);}
    .sc-work .work-area .work-item:hover span {
        transform: translateY(5px);
    }
    .sc-output .output-list .video-box{
        width: 11em;
        height: 6em;
    }
    .sc-output .output-list{}
    
    .sc-work .view-wrap{display: none;}

}
/* @media (hover: none) */
@media screen and (max-width: 767px) {
    /* *320을 보고 잡아야함 */
    .sc-intro{min-height: 110vh;}
    .sc-oneself .inner1{
        padding-left: 20px;
        padding-right: 20px;
    }
    .sc-intro .bookmark{
        position: relative;
        top: 83%;
    }
    .sc-intro .bookmark .bookmark-txt{display: none;}
    .sc-intro .bookmark svg{display: none;}
    .sc-intro .intro-wrap{z-index: 99;}

    .sc-intro .intro-img{
        left: 6%;
        z-index: 99;
        width: 100%;
        height: 88%;
        top: 12.5%;
    }
    .sc-intro .info-area{
        box-sizing: border-box;
        padding: 0;

        top: auto;
        bottom: -1.5%;
        width: 91%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    .sc-intro .info-area .arrow-box{
        top: -6.5vh;

        left: 1vw;
        width: 4.5%;
        height: auto;
    }

    .sc-intro .info-area .arrow-txt{
        font-size: 5vw;
    }
    .sc-intro .globe-area{
        position: absolute;
        right: 1.5%;
    }
    .sc-intro .animate-box{
        bottom: 23.5vh;
    }
    .sc-intro .animate-name{
        bottom: 25vh;
        animation: rolling 55s linear infinite;
    }

    .inner1{
        padding-left: 20px;
        padding-right: 20px;
    }
    .sc-work .work-desc{
        padding: 62.2px 0 86px;
        flex-direction: column;
    }
    .sc-work .work-desc .work-txt{width: 100%;letter-spacing: -1.4px;}
    .sc-work .work-desc .btn-box{
        width: 100%;
        padding-left: 0;
    }
    .sc-work .work-desc .btn-box p{
        padding-top: 31px;
        word-break: keep-all;
        max-width: 12em;
    }
    .sc-work .work-desc br{display: none;}
    .sc-work .btn-work{right: 0;top: 41%;}
    .sc-work .work-area{margin-top: 107px;}
    .sc-work .work-area .title{
        padding-bottom: 5px;
        padding-left: 0;
    }
    .sc-work .work-area .work-list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sc-work .work-area .work-item{width: 100%;}
    .sc-work .work-area .work-wrap h3{
        font-size: 31px;
        padding-top: 24px;
    }
    .sc-work .work-area .work-wrap span{padding-right: 0;}
    .sc-work .work-area .work-item:nth-child(2n){margin-left: 0px;}
    .sc-output .pan-box .pan{height: 550%;}

    .sc-work{
        position: relative;
        z-index: 9;
    }
    .sc-output{padding: 0;}
    .sc-output .output-list{display: none;}

    .sc-oneself .profile-wrap .btn-work{
        top: 50%;
        right: 11%;
    }
    .sc-oneself .contact-area{padding-top: 82px;}
    .sc-oneself .contact-area .contact-desc{
        width: 100%;
        margin-top: 7px;
    }
    .sc-output .output-list .video-box{
        width: 11em;
        height: 6em;
    }
}